[init]
        templatedir = C:/Users/n.guia.gonzalez/.acn-security-tools/git-template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nazareth Guia
	email = nazguiag@gmail.com
